Package: com.cortexdevteam.wingedgudda
Name: Mímir
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: wingedgudda - cortex dev
Maintainer: CortexDevTeam
Author: CortexDevTeam
Section: Tweaks
Version: 0.0.1
